<%- include('../templates/head.ejs') %>
<link rel="stylesheet" href="/css/auth/forms.css">
</head>

<body>
<%- include('../templates/nav-bar.ejs') %>

    <main>
        <form class="auth-form" autocomplete="off" action="/auth/sign-up" method="POST">
        
            <div>
                <label for="name">Nome</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="photo">Url da Foto de Perfíl</label>
                <input type="text" name="photo" id="photo">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="confirm-password">Confirmar Senha</label>
                <input type="password" name="confirmPassword" id="confirm-password">
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>