<%- include('./templates/head.ejs') %>
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/admin/admin-post.css">
<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
<%- include('./templates/nav-bar.ejs') %>

    <main>
        <form autocomplete="off" action="">
            <div class="form">
                <label for="title">Título</label>
                <input name="title" type="text" id="title">
            </div>
            <div class="form subtitle">
                <label for="subtitle">Subtítulo</label>
                <textarea name="subtitle" id="subtitle" cols="60" rows="10"></textarea>
            </div>
            <div class="form">
                <label for="imageUrl">URL da Imagem</label>
                <input name="imageUrl" type="text" id="imageUrl">
            </div>
            <div class="form">
                <label for="post">Postagem</label>
                <textarea name="post" id="post" cols="60" rows="10"></textarea>
            </div>
            <button type="submit">Postar</button>
        </form>

    </main>
    <%- include('./templates/footer.ejs') %>
</body>
</html>