<%- include('./templates/head.ejs') %>
<link rel="stylesheet" href="/css/client/post.css">

</head>

<body>
    
    <a href="/admin/panel" class="button">Painel de Postagens</a>
    <a href="/admin/add-post" class="button">Postar</a>
    
    

    <%- include('./templates/footer.ejs') %>

</body>



</html>