<%- include('./templates/head.ejs') %>
<link rel="stylesheet" href="/css/admin/admin-panel.css">

</head>

<body>
<%- include('./templates/nav-bar.ejs') %>

    <main>
        <div class="box">
            <div>
                <a href="#" class="post-img"><img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image"></a>
                <a href="#"><h3>Title Goes In Here</h3></a>
            </div>
            <div>
                <a href="#" class="edit-btn options"><i class="far fa-edit fa-2x"></i></a>
                <button class="delete-btn"><i class="far fa-trash-alt fa-2x"></i></button>
            </div>
        </div>

    </main>



        
<%- include('./templates/footer.ejs') %>

</body>



</html>