<%- include('./templates/head.ejs') %>

    <link rel="stylesheet" href="\css\header.css">
    <link rel="stylesheet" href="\css\footer.css">
    <link rel="stylesheet" href="\css\main.css">
</head>

<body>
<%- include('./templates/nav-bar.ejs') %>

            <main>
                <div class="main-wrapper">
                    <div class="box1 box">
                        <img src="https://s1.1zoom.me/big0/524/Deus_Ex_golem_city_deus_460971.jpg" alt="image">
                        <h2>Deus ex: Mankind Devided é aclamado como o jogo do ano; Veja comentários</h2>
                        <p>Tentando digitar alguma coisa longa e que faça sentido, vamos lá. Não sei o que dizer realmente, esse jogo é incrível, mas ao mesmo tempo é como se acabasse na metado, fiquei um pouco decepicionado, confesso, mas ainda sim é um bom jogo. Esparava mais da inovação na gameplay e dos gráficos, mas quando a gameplay, já era ótima então tudo bem :)</p>
                        
                    </div>
                    <div class="adbox box">
                        <img src="https://adstudio.cloud/images/advetisments/multiple-slides/y-n_saas_online_platform_600x500.png" alt="ad">
                    </div>
                    <div class="box2 box">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box3 box">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    
                    
                    <div class="top-posts-box">
                       
                        <img src="https://adstudio.cloud/images/advetisments/multiple-slides/y-n_saas_online_platform_600x500.png" alt="ad">
                        
                    </div>
                    <div class="box4 box">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box6 box">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box7">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box8">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box9">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
              
                    
                    
                    
                   
                </div>
    
            </main>
       
       
<%- include('./templates/footer.ejs') %>

    </body>

    <script src="views\js\script.js"></script>

</html>