<%- include('./templates/head.ejs') %>

    <link rel="stylesheet" href="\css\header.css">
    <link rel="stylesheet" href="\css\footer.css">
    <link rel="stylesheet" href="\css\client\home.css">
</head>

<body>
<%- include('./templates/nav-bar.ejs') %>

            
            <div class="main-wrapper">
                <main>
                    <div class="latest-post box">
                        <img src="https://s1.1zoom.me/big0/524/Deus_Ex_golem_city_deus_460971.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="top-posts-box box">
                        <img src="https://adstudio.cloud/images/advetisments/multiple-slides/y-n_saas_online_platform_600x500.png" alt="ad">
                    </div>
                    <div class="box2 box">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box3 box">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    
                    
                  <!--   <div class="top-posts-box">
                       
                        <img src="https://adstudio.cloud/images/advetisments/multiple-slides/y-n_saas_online_platform_600x500.png" alt="ad">
                        
                    </div> -->
                    <div class="box4 box">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box6 box">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box7">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box8">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    <div class="box9">
                        <img src="https://cdn.suwalls.com/wallpapers/games/industrial-building-in-deus-ex-mankind-divided-53239-2560x1440.jpg" alt="image">
                        <h2>Title Goes In Here</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
              
                    
                    
                    
                </main>
            </div>

            
       
       
<%- include('./templates/footer.ejs') %>

    </body>

    

</html>