<%- include('./templates/head.ejs') %>
<link rel="stylesheet" href="/css/client/post.css">

</head>

<body>
    <%- include('./templates/nav-bar.ejs') %>
    <main>
        <div class="title">
            <h1>Facebook Infinite Office Shows Your Workspace in Virtual Reality with Oculus Quest</h1>
            <p class="subtitle">Oculus Quest 2 will be released in just a few short weeks, and to show the possibilities of the virtual reality headset</p>
            <hr>
        </div>
        <div class="post">
            <p>Oculus Quest 2 will be released in just a few short weeks, and to show the possibilities of the virtual reality headset, Facebook created an “Infinite Office” video. Put simply, they want to show that productivity can exist in both the virtual and real worlds, especially with many people working from home until 2021. Some may not have a large workspace for a multi monitors setup, but by placing them virtually, space does not become an issue. Read more for a video and additional information.</p>

            <img src="https://media.techeblog.com/images/facebook-infinite-office-virtual-reality-oculus-vr.jpg" alt="">
            <p>Oculus Quest 2 will be released in just a few short weeks, and to show the possibilities of the virtual reality headset, Facebook created an “Infinite Office” video. Put simply, they want to show that productivity can exist in both the virtual and real worlds, especially with many people working from home until 2021. Some may not have a large workspace for a multi monitors setup, but by placing them virtually, space does not become an issue. Read more for a video and additional information.
            </p>
            <p>Oculus Quest 2 will be released in just a few short weeks, and to show the possibilities of the virtual reality headset, Facebook created an “Infinite Office” video. Put simply, they want to show that productivity can exist in both the virtual and real worlds, especially with many people working from home until 2021. Some may not have a large workspace for a multi monitors setup, but by placing them virtually, space does not become an issue. Read more for a video and additional information.
            </p>
            
    
            <div class="tags-container">
                <hr>
                <h2>Tags</h2>
                <div class="tags">
                    <div>
                        <p>Gaming</p>
                    </div>
                    <div>
                        <p>Óculos</p>
                    </div>
                    <div>
                        <p>Realidade Virtual</p>
                    </div>
                    <div>
                        <p>Futurismo</p>
                    </div>
                    <div>
                        <p>Gaming</p>
                    </div>
                    <div>
                        <p>Óculos</p>
                    </div>
                    <div>
                        <p>VR</p>
                    </div>
                    <div>
                        <p>Futurismo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-posts">
            <img src="https://adstudio.cloud/images/advetisments/multiple-slides/y-n_saas_online_platform_600x500.png" alt="ad">
        </div>
    </main>

       
    <%- include('./templates/footer.ejs') %>

</body>



</html>