main {
    width: 50%;
    margin: 0 auto;
    
}

.form {
    padding: 10px 0;
}

label {
    display: block
}

.subtitle textarea {
    height: 200px;
}
input {
    width: 600px;
    height: 25px;
}
textarea {
    height: 800px;
    width: 600px;
}
