
h2 {
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    
}
h2:hover{
    color: rgb(0, 153, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

p{
    font-weight: 400;
    color: rgb(202, 202, 202);
}
main {
    
    font-family: 'Roboto', sans-serif;
    align-content: center;
    margin: 40px auto;

    
}
img {
    width: 100%;
    padding: 0 0 5px 0;
}
img:hover{
    filter: brightness(80%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

main h1 {
    width: 100%;
    padding: 0 0 5px 0;
}

.main-wrapper {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}



.box1 {
    display: grid;
    grid-column: 1/3;
}


.adbox {
    
    display: grid;
    grid-column: 3/4;
    grid-row: 1/3;
    
}
.top-posts-box {
    width: 100%;
    display: grid;
    grid-column: 1/2;
    grid-row: 3/5;
}
