   <footer>
        <div class="footer-wrapper">
            <div>
                <img src="https://i.imgur.com/iHSvX7K.png" class="logo" alt="logo">
            </div>
            <div>
                <h2>Sobre</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div >
                <h2>Contatos</h2>
                
                <a href="#" class="contact-icons" ><i class="fab fa-twitter"></i></a>
                <a href="#" class="contact-icons"><i class="fab fa-facebook"></i></a>
                <a href="#" class="contact-icons"><i class="fab fa-google"></i></a>
                <a href="#" class="contact-icons"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        
    </footer>
    <div class="copyright-wrapper">
        <div class="copyright">
            <p>Copyright© overCLOCK 2020. Todos os direitos reservados.</p>
        </div>
    </div>