
    <header>
        <div class="header-wrapper">
            <nav>
                <ul class="nav__links">
                    <li><img src="https://i.imgur.com/iHSvX7K.png" class="logo" alt="logo"></li>
                    <li><a href="/">Publicações</a></li>
                    <li><a href="#">Comunidade</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>    
            </nav>

            <div class="nav__searchbox"> 
                    <form autocomplete="off" action="">
                        <input type="text" placeholder="O que você busca?">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>   
            </div>
        </div>
    </header>