main {
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
    gap: 20px;
}
main img {
    width: 100%;
}

h1 {
    font-size: 40px;
}

.user-post {
    margin-top: 10px;
    display: flex;
}

.user-post img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 100px;
}

.user-post .user-name {
    color: rgb(94, 94, 94);
    font-size: 14px;
}

.user-post p {
    font-size: 13px;
    color: rgb(110, 110, 110);
}


.post p {
    margin: 20px 0;
    white-space: pre-line;
    line-height: 30px;
    font-size: 19px;
}

.title {
    grid-column: 1/3;
}

.subtitle {
    margin: 15px 0;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.623);
}

.post {
   grid-column: 1/2;
}
.top-posts {
    grid-column: 2/3;
}

hr {
    border-style: solid;
    border-color: #007ec7;
    margin-top: 30px;
}


.tags-container {
    margin-top: 60px;
}

.tags-container h2{
    margin: 20px 0;
}


.tags div {
    flex-shrink: 0;
    background-color: rgb(226, 239, 255);
    display: inline-block;
    width: max-content;
    border-radius: 2px;
    margin: 0 10px 13px 0 ;
    
    
}
.tags p {
    
    font-size: 16px;
    padding: 1px 6px;
    font-weight: 300;
    margin: 0;
}


@media screen and (max-width: 767px) {
    .post {
        grid-column: 1/3;
    }
    .top-posts {
        grid-column: 1/3;
    }
}